/* Counter.css */

.counter-container {
  
    text-align: center;
    margin: 20px;
    background-color: aliceblue;
    padding: 30px;
  }
  
  .counter-text {
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
  }
  
  .counter-button {
    background-color: #0074d9;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
  
  .counter-button:hover {
    background-color: #0056b3;
  }
  